html {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.insta-feeds-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    margin-top: 0px;
    padding-bottom: 30px;
}

.post {
    width: 500px;
    margin-top: 10px;
}

.header {
    background-color: white;
    display: flex;
    height: 50px;
    padding-bottom: 10px;
}


.html-icon {
    width: 40px;
    justify-self: center;
    margin-left: 10px;
    margin-top: 10px;
}

.html-rigoberto {
    display: flexbox;
    align-items: start;
    width: 450px;
}

.html {
    display: block;
    margin-bottom: 0px;
    margin-top: 10px;
}

.rigoberto {
    display: block;
    margin: 0px;
    font-size: 15px;
}


.menu {
    display: flex;
    width: 30px;
    justify-content: center;
    margin-top: 10px;
}

.post-img {
    height: 350px;
}

.post-img img{
    width: 500px;
    height: 350px;
    margin-top: 0px;
}

.post-body {
    align-content: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    
}

.post-body p {
    min-height: 30px;
    justify-self: start;
    position: relative;
    text-align: start;
    padding: 15px;
    margin: 0;
}

.post-body p + p {
    margin-top: 0;
}


.post-icons {
    margin-top: 5px;
    height: 50px;
    width: 100%;
    float: left;
}

.fa-heart, .fa-comment, .paper-plane {
    margin: 5px;
}

.fa-heart {
    margin-left: 15px;
}


.fa-bookmark {
    float: right;
    margin-right: 22px;
    margin-top: 5px;
}



